body {
  display: flex;
  flex-direction: column;
  background-size: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myStyle.myStyle {
  margin-top: 100px;
  margin-left: 50px;
  color: black;
  background-color: lightgrey;
  padding: 10px;
  border: 1px black dashed;
  width: 250px;
}

.welcomeBox {
  color: rgb(176, 192, 203);
  background: rgba(0, 53, 89, 1);
  background-size: cover;
  padding: 20px;
  border: 5px rgba(0, 53, 89, 1) solid;
  width: 60%;
  height: 900px;
  display: flex;
  flex-direction: column;
  margin: 2ev;
  min-width: 40%;
}

.welcomeText {
  color: rgb(161, 233, 29);
  text-align: center;
  font-size: 80px;
}

.welcomeExplain {
  color: rgb(161, 233, 29);
  font-size: 20px;
}
.something.something {
  height: 100%;
  width: 100%;
}

.header.header{
  background: rgba(0, 53, 89, 1);
  color: rgb(161, 233, 29);
  border: 3px rgb(130, 184, 31) solid;
  border-Radius: 25px;
  text-Align: center;
  width: 100%;
  font-Size: 25px;
}